{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
    <script>
        function submit () {
            $.ajax({
                type: "POST",
                url: "/api/login_check",
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        "username": $("#username").val(),
                        "password": $("#password").val()
                    }),
                success: function() {
                    window.location = "/";
                },
                statusCode: {
                    401: function() {
                        $("#error-message").text("Invalid credentials!");
                    }
                },
                error: function() {
                    $("#error-message").text("Login error!");
                }
            });
        }
    </script>

    <h1>Login</h1>

    <div id="error-message" style="color: darkred"></div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <button onclick="submit()">Login</button>

{% endblock %}
